.hide {
    display: none;
}



/* Responsive Media Query */
/* Mobile Device */
@media screen and (max-width: 576px) {

    .navbar,
    .banner-container,
    .features-left-side img,
    .features-container,
    .features-love,
    .sponspors,
    .sponspors-description,
    footer {
        width: 100%;
    }

    .navbar,
    .features-content,
    .features-love-container,
    .facts-cards,
    .sponspors-logos {
        flex-direction: column;
        gap: 25px;
    }

    /* Banner */
    .banner-title {
        font-size: 30px;
    }
    
    .banner-description {
        width: 80%;
        margin: 10px auto;
        font-size: 12px;
    }

    .banner-content img {
        width: 90%;
        height: 100%;
    }

    /* Features */
    .features-left-side {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Features love and Enjoy */
    .features-love-left-content,
    .features-love-right-content {
        width: 80%;
        margin: 0 auto;
    }

    .features-love-right-content img {
        width: 100%;
        height: 80%;
    }

    .experience-content {
        top: 475px;
        left: -30px;
    }


    /* Facts */
    .facts,
    .facts-description {
        width: 80%;
        margin: 20px auto;
    }

    .facts-container {
        width: 100%;
        margin: 0 auto;
    }

    .facts-title,
    .facts-description {
        text-align: center;
    }

    .facts-cards {
        width: 80%;
        margin: 0 auto;
    }

    /* Footer */
    .footer-content {
        text-align: center;
    }
}

