@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

.navbar,
.banner-container {
    width: 1070px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background: rgba(255, 144, 14, 0.1);
}

/* Nav Styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 30px 0px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
}

.navbar a,
.navbar ul li a {
    text-decoration: none;
    color: black;
}

.nav-title {
    font-size: 26px;
    font-weight: 700;
}


/* Banner Styles */
.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-title {
    font-size: 42px;
    margin-top: 20px;
}

.banner-description {
    margin: 15px 0px;
    font-size: 14px;
    width: 750px;
}

.btn-primary {
    background-color: rgb(255, 144, 14);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
}

.btn-primary:hover {
    background-color: rgba(255, 144, 14, 0.8);
    color: white;
    transition: 0.5s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.banner-btn {
    margin: 15px 0px;
    margin-bottom: 30px;
}

.banner-content img {
    width: 1070px;
    border-radius: 5px;
    height: 450px;
    object-fit: cover;
    margin-bottom: 45px;
}


/* Features Styles */
.features {
    padding: 15px 10px;
}

.features-container {
    width: 1040px;
    margin: 0 auto;
}

.features-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding: 40px 20px;
}

.features-left-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px
}

.features-left-side img {
    width: 250px;
}

.features-title {
    font-size: 32px;
    margin-bottom: 15px;
}

.quick {
    color: rgb(114, 114, 114);
}

.of {
    color: rgb(19, 19, 19);
}

.primary-text {
    color: rgb(255, 144, 14)
}

.features-description {
    margin-bottom: 15px;
    font-size: 14px;
}



/* Features loce and Enjoy styles */
.features-love {
    width: 1070px;
    margin: 55px auto;
    margin-bottom: 85px;
}

.features-love-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.features-love-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 500px;
    padding: 25px 0px;
}

.features-love-title {
    border-left: 2px solid rgb(255, 144, 14);
    padding-left: 10px;
}

.features-love-subtitle {
    font-size: 13px;
    color: rgb(114, 114, 114);
    margin-bottom: 10px;
}

.features-love-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.features-love-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 25px 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.features-love-card-title {
    font-size: 16px;
}

.features-love-card-description {
    font-size: 13px;
    color: rgb(114, 114, 114);
}

.features-love-right-content {
    position: relative;
    height: 650px;
}

.features-love-right-content img {
    height: 100%;
    object-fit: cover;
}

.experience-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 25px 25px;
    background: rgb(255, 144, 14);
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    color: white;
    line-height: 14px;
    font-size: 18px;
    position: absolute;
    top: 590px;
    left: -50px;
}

.experience-description {
    font-size: 14px;
}






